# Local (SQLite)
# DATABASE_URL="file:./prisma/dev.db"

# Production (MySQL IONOS)
DATABASE_URL="mysql://USER:PASSWORD@HOST:3306/DATABASE"

NEXTAUTH_SECRET="change-this-to-a-random-32-char-string"
NEXTAUTH_URL="http://localhost:3000"
